<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 <div class="modal fade" id="myModalDelete_{{ record.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">Delete {{ record.first_name }}</h4>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete this record ?</h4>
                </div>
                <div class="modal-footer">

                  <a href="{% url "delete_view" pk=record.pk %}" class="btn btn-danger btn-md" role="button"> Yes </a>
                  <a href="{% url "user_form_view" %}" class="btn btn-primary btn-md" role="button"> No </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>