{% extends "base.html" %}
{% load bootstrap3 static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title></title>
</head>
<body>
{% block content %}

    <form id="update_user_profile_form" action="" method="post">
        {% csrf_token %}
        <div id="update_user_profile" class="container">
            <div id="row-2" class="row">
                <div class="col-md-6">
                    <div id="field1">

                        {% bootstrap_field form.first_name %}

                    </div>
                </div>
            </div>

            <div id="row-2" class="row">
                <div class="col-md-6">
                    <div id="field2">
                        {% bootstrap_field form.last_name %}

                    </div>
                </div>
            </div>

            <div id="row-2" class="row">
                <div class="col-md-6">
                    <div id="field3">
                        {% bootstrap_field form.iban %}

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="row-2" class="row">
                    <div class="col-md-6">
                        <div id="submit_form" align="left">
                            <input type="submit" name="Update" value="Update"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
</body>
</html>